<section id="zona-login" class="contenedor sombra zona-login">
  <h2>Login</h2>
  <!--<div class="alerta-error-form mb-1"></div>-->
  <div id="errores-login"></div>
  <form id="formulario-login">
    <fieldset>
      <!--<legend>Email y Password</legend>-->
      <div class="campo">
        <label for="email">E-mail</label>
        <input
          class="input-text"
          type="email"
          name="email"
          placeholder="Tu Email"
          id="email"
        />
      </div>
      <div class="campo">
        <label for="password">Password</label>
        <input
          class="input-text"
          type="password"
          name="password"
          placeholder="Tu Password"
          id="password"
        />
      </div>
    </fieldset>
    <div class="flex flex-end">
      <button class="boton boton-primario w-sm-100" type="submit"
        >Iniciar Sesión</button
      >
    </div>
  </form>
</section>
