---
import iconoLogout from "../assets/img/svgviewer-output.svg";
---

<section class="zona-titulo">
  <h1>Zona de Administración</h1>
  <img class="img-x" src={iconoLogout.src} alt="icono de Logout" />
</section>
