---
import Layout from "../../layouts/Layout.astro";
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import ZonaAdministracion from "../../components/AdministracionSection.astro";
---

<Layout title="Jose Ramón | Programador Web" classNamePage="admin-page">
  <Breadcrumbs nombrePaginaPadre="Admin" />
  <main>
    <!--TODO: falta loading-->
    <ZonaAdministracion />
  </main>
  <script>
    import "../../js/admin-proyectos";
  </script>
</Layout>
